{:highlights [{:id #uuid "64ce7d0d-fc5b-4bf2-af71-4ac323c3b166",
               :page 554,
               :position {:bounding {:x1 0,
                                     :y1 -2,
                                     :x2 885.6396484375,
                                     :y2 321.0234375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 0,
                                   :y1 -2,
                                   :x2 0,
                                   :y2 17.5,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 0,
                                   :y1 14,
                                   :x2 0,
                                   :y2 33.5,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 0,
                                   :y1 30,
                                   :x2 0,
                                   :y2 49.5,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 225.2734375,
                                   :y1 148.125,
                                   :x2 400.39056396484375,
                                   :y2 197.125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 128.2265625,
                                   :y1 219.7734375,
                                   :x2 885.6396484375,
                                   :y2 254.2734375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 128.2265625,
                                   :y1 224.7734375,
                                   :x2 885.6396484375,
                                   :y2 249.5,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 128.2265625,
                                   :y1 253.1484375,
                                   :x2 883.3314208984375,
                                   :y2 287.6484375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 128.2265625,
                                   :y1 258.1484375,
                                   :x2 883.3314208984375,
                                   :y2 282.875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 128.2265625,
                                   :y1 286.5234375,
                                   :x2 804.5528564453125,
                                   :y2 321.0234375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 128.2265625,
                                   :y1 291.5234375,
                                   :x2 532.6052856445312,
                                   :y2 316.25,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 554},
               :content {:text "事务的实现事务隔离性由第6章讲述的锁来实现。原子性、一致性、持久性通过数据库的redo log和undo log来完成。redo log称为重做日志，用来保证事务的原子性和持久性。undo log用来保证事务的一致性。"},
               :properties {:color "yellow"}}],
 :extra {:page 554}}
