{:highlights [{:id #uuid "6492dcc4-b5b3-4c0b-bddd-90bb17884e1e",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 62,
                                     :x2 730.9319458007812,
                                     :y2 287.28125,
                                     :width 907,
                                     :height 1173.764705882353},
                          :rects ({:x1 0,
                                   :y1 62,
                                   :x2 0,
                                   :y2 81.5,
                                   :width 907,
                                   :height 1173.764705882353}
                                  {:x1 399.4078063964844,
                                   :y1 241.65625,
                                   :x2 730.9319458007812,
                                   :y2 266.65625,
                                   :width 907,
                                   :height 1173.764705882353}
                                  {:x1 250.21875,
                                   :y1 262.28125,
                                   :x2 515.9540405273438,
                                   :y2 287.28125,
                                   :width 907,
                                   :height 1173.764705882353}),
                          :page 1},
               :content {:text "f Electrical Engineering and Computer Science in partial fulfillment of the requireme"},
               :properties {:color "yellow"}}
              {:id #uuid "6492dd31-22a3-4975-b9e1-db0ce41eeaf3",
               :page 3,
               :position {:bounding {:x1 0,
                                     :y1 286,
                                     :x2 773.8938598632812,
                                     :y2 608.265625,
                                     :width 907,
                                     :height 1173.764705882353},
                          :rects ({:x1 0,
                                   :y1 286,
                                   :x2 0,
                                   :y2 305.5,
                                   :width 907,
                                   :height 1173.764705882353}
                                  {:x1 0,
                                   :y1 302,
                                   :x2 0,
                                   :y2 321.5,
                                   :width 907,
                                   :height 1173.764705882353}
                                  {:x1 0,
                                   :y1 318,
                                   :x2 0,
                                   :y2 337.5,
                                   :width 907,
                                   :height 1173.764705882353}
                                  {:x1 409.5169982910156,
                                   :y1 524.984375,
                                   :x2 773.8938598632812,
                                   :y2 547.984375,
                                   :width 907,
                                   :height 1173.764705882353}
                                  {:x1 133.375,
                                   :y1 545.078125,
                                   :x2 773.5661010742188,
                                   :y2 568.078125,
                                   :width 907,
                                   :height 1173.764705882353}
                                  {:x1 133.375,
                                   :y1 548.578125,
                                   :x2 773.5661010742188,
                                   :y2 564.8828125,
                                   :width 907,
                                   :height 1173.764705882353}
                                  {:x1 133.375,
                                   :y1 565.171875,
                                   :x2 773.7808227539062,
                                   :y2 588.171875,
                                   :width 907,
                                   :height 1173.764705882353}
                                  {:x1 133.375,
                                   :y1 568.671875,
                                   :x2 773.7808227539062,
                                   :y2 584.9765625,
                                   :width 907,
                                   :height 1173.764705882353}
                                  {:x1 133.375,
                                   :y1 585.265625,
                                   :x2 562.0781860351562,
                                   :y2 608.265625,
                                   :width 907,
                                   :height 1173.764705882353}),
                          :page 3},
               :content {:text "o new levels are defined that provide useful consistency guarantees to application writers; one is the weakest level that ensures consistent reads, while the other captures some useful consistency properties provided by pessimistic implementations. We use a graph-based approach to define different isolation levels in a"},
               :properties {:color "red"}}
              {:id #uuid "6492dd5c-6c6e-4ec9-a06b-cc013de432bc",
               :page 3,
               :position {:bounding {:x1 257,
                                     :y1 358,
                                     :x2 566,
                                     :y2 468,
                                     :width 907,
                                     :height 1173.764705882353},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1687346523158},
               :properties {:color "blue"}}],
 :extra {:page 3}}
