{:highlights [{:id #uuid "6492d767-c69a-40aa-ac6c-a0ac70cd0afb",
               :page 3,
               :position {:bounding {:x1 -0.007357120513916016,
                                     :y1 366,
                                     :x2 906.9944740533829,
                                     :y2 708.5641479492188,
                                     :width 906.9999999999998,
                                     :height 1173.7647058823527},
                          :rects ({:x1 0,
                                   :y1 366,
                                   :x2 0,
                                   :y2 385.5,
                                   :width 906.9999999999998,
                                   :height 1173.7647058823527}
                                  {:x1 0,
                                   :y1 382,
                                   :x2 0,
                                   :y2 401.5,
                                   :width 906.9999999999998,
                                   :height 1173.7647058823527}
                                  {:x1 0,
                                   :y1 398,
                                   :x2 0,
                                   :y2 417.5,
                                   :width 906.9999999999998,
                                   :height 1173.7647058823527}
                                  {:x1 444.5937805175781,
                                   :y1 625.4547729492188,
                                   :x2 773.7539672851562,
                                   :y2 648.4547729492188,
                                   :width 906.9999999999998,
                                   :height 1173.7647058823527}
                                  {:x1 -0.007357120513916016,
                                   :y1 647.1578979492188,
                                   :x2 906.9883093833923,
                                   :y2 670.1578979492188,
                                   :width 906.9999999999998,
                                   :height 1173.7647058823527}
                                  {:x1 -0.007357001304626465,
                                   :y1 667.1686401367188,
                                   :x2 906.9944740533829,
                                   :y2 690.1686401367188,
                                   :width 906.9999999999998,
                                   :height 1173.7647058823527}
                                  {:x1 133.37136840820312,
                                   :y1 685.5641479492188,
                                   :x2 623.5515747070312,
                                   :y2 708.5641479492188,
                                   :width 906.9999999999998,
                                   :height 1173.7647058823527}),
                          :page 3},
               :content {:text "The mechanisms are based on optimism and make use of multipart timestamps. A new technique is presented that allows multipart timestamps to scale well with the number of clients and servers in our system; the technique takes advantage of loosely synchronized clocks for removing old information in multipart timestamps."},
               :properties {:color "yellow"}}],
 :extra {:page 3}}
