{:highlights [{:id #uuid "649e8433-4bc8-49ec-91ec-677b96f93714",
               :page 34,
               :position {:bounding {:x1 0,
                                     :y1 -2,
                                     :x2 848.9005126953125,
                                     :y2 209.9609375,
                                     :width 972,
                                     :height 1257.8823529411764},
                          :rects ({:x1 0,
                                   :y1 -2,
                                   :x2 0,
                                   :y2 17.5,
                                   :width 972,
                                   :height 1257.8823529411764}
                                  {:x1 0,
                                   :y1 14,
                                   :x2 0,
                                   :y2 33.5,
                                   :width 972,
                                   :height 1257.8823529411764}
                                  {:x1 169.921875,
                                   :y1 115.0234375,
                                   :x2 848.893310546875,
                                   :y2 148.0234375,
                                   :width 972,
                                   :height 1257.8823529411764}
                                  {:x1 122.28125,
                                   :y1 145.9921875,
                                   :x2 848.9005126953125,
                                   :y2 178.9921875,
                                   :width 972,
                                   :height 1257.8823529411764}
                                  {:x1 122.28125,
                                   :y1 150.9921875,
                                   :x2 848.9005126953125,
                                   :y2 174.8125,
                                   :width 972,
                                   :height 1257.8823529411764}
                                  {:x1 122.28125,
                                   :y1 176.9609375,
                                   :x2 582.478515625,
                                   :y2 209.9609375,
                                   :width 972,
                                   :height 1257.8823529411764}),
                          :page 34},
               :content {:text "融合支付主要用于解决商户和个人开发者申请支付渠道资质和手续的问题，减少商户因各种支付渠道接入、维护支付、结算服务时的成本支出，提高支付结算系统的运行效率。"},
               :properties {:color "yellow"}}
              {:id #uuid "649e8869-74e0-461b-8114-23edf9c53867",
               :page 34,
               :position {:bounding {:x1 0,
                                     :y1 78,
                                     :x2 848.900634765625,
                                     :y2 432.7109375,
                                     :width 972,
                                     :height 1257.8823529411764},
                          :rects ({:x1 0,
                                   :y1 78,
                                   :x2 0,
                                   :y2 97.5,
                                   :width 972,
                                   :height 1257.8823529411764}
                                  {:x1 0,
                                   :y1 94,
                                   :x2 0,
                                   :y2 113.5,
                                   :width 972,
                                   :height 1257.8823529411764}
                                  {:x1 0,
                                   :y1 110,
                                   :x2 0,
                                   :y2 129.5,
                                   :width 972,
                                   :height 1257.8823529411764}
                                  {:x1 0,
                                   :y1 126,
                                   :x2 0,
                                   :y2 145.5,
                                   :width 972,
                                   :height 1257.8823529411764}
                                  {:x1 169.921875,
                                   :y1 275.828125,
                                   :x2 848.8933715820312,
                                   :y2 308.828125,
                                   :width 972,
                                   :height 1257.8823529411764}
                                  {:x1 122.28125,
                                   :y1 306.796875,
                                   :x2 848.9005737304688,
                                   :y2 339.796875,
                                   :width 972,
                                   :height 1257.8823529411764}
                                  {:x1 122.28125,
                                   :y1 311.796875,
                                   :x2 848.9005737304688,
                                   :y2 335.6171875,
                                   :width 972,
                                   :height 1257.8823529411764}
                                  {:x1 122.28125,
                                   :y1 337.7734375,
                                   :x2 848.9005737304688,
                                   :y2 370.7734375,
                                   :width 972,
                                   :height 1257.8823529411764}
                                  {:x1 122.28125,
                                   :y1 342.7734375,
                                   :x2 848.9005737304688,
                                   :y2 366.59375,
                                   :width 972,
                                   :height 1257.8823529411764}
                                  {:x1 122.28125,
                                   :y1 368.7421875,
                                   :x2 848.900634765625,
                                   :y2 401.7421875,
                                   :width 972,
                                   :height 1257.8823529411764}
                                  {:x1 122.28125,
                                   :y1 373.7421875,
                                   :x2 848.900634765625,
                                   :y2 397.5625,
                                   :width 972,
                                   :height 1257.8823529411764}
                                  {:x1 122.28125,
                                   :y1 399.7109375,
                                   :x2 503.46282958984375,
                                   :y2 432.7109375,
                                   :width 972,
                                   :height 1257.8823529411764}),
                          :page 34},
               :content {:text "融合支付的服务项目较专用支付的服务项目会多很多，包含且不限于账户管理服务、虚拟货币服务、跨境收款服务、支付渠道管理服务、资金到账与管理服务、汇兑服务、充值服务、接入指引服务、数据安全管理服务、数据分析服务、用户画像服务、账务（差错）处理服务、用户服务和其他增值服务等。"},
               :properties {:color "yellow"}}
              {:id #uuid "649e9052-fdca-448d-996f-25b88dcfc46f",
               :page 35,
               :position {:bounding {:x1 0,
                                     :y1 -2,
                                     :x2 801.0150146484375,
                                     :y2 227.3828125,
                                     :width 917,
                                     :height 1186.7058823529412},
                          :rects ({:x1 0,
                                   :y1 -2,
                                   :x2 0,
                                   :y2 17.5,
                                   :width 917,
                                   :height 1186.7058823529412}
                                  {:x1 0,
                                   :y1 14,
                                   :x2 0,
                                   :y2 33.5,
                                   :width 917,
                                   :height 1186.7058823529412}
                                  {:x1 0,
                                   :y1 30,
                                   :x2 0,
                                   :y2 49.5,
                                   :width 917,
                                   :height 1186.7058823529412}
                                  {:x1 228.9551544189453,
                                   :y1 108.2265625,
                                   :x2 801.0117950439453,
                                   :y2 139.7265625,
                                   :width 917,
                                   :height 1186.7058823529412}
                                  {:x1 115.359375,
                                   :y1 137.4453125,
                                   :x2 801.0150146484375,
                                   :y2 168.9453125,
                                   :width 917,
                                   :height 1186.7058823529412}
                                  {:x1 115.359375,
                                   :y1 142.4453125,
                                   :x2 801.0150146484375,
                                   :y2 164.921875,
                                   :width 917,
                                   :height 1186.7058823529412}
                                  {:x1 115.359375,
                                   :y1 166.6640625,
                                   :x2 801.0150146484375,
                                   :y2 198.1640625,
                                   :width 917,
                                   :height 1186.7058823529412}
                                  {:x1 115.359375,
                                   :y1 171.6640625,
                                   :x2 801.0150146484375,
                                   :y2 194.140625,
                                   :width 917,
                                   :height 1186.7058823529412}
                                  {:x1 115.359375,
                                   :y1 195.8828125,
                                   :x2 227.76190185546875,
                                   :y2 227.3828125,
                                   :width 917,
                                   :height 1186.7058823529412}),
                          :page 35},
               :content {:text "与专用收银台相比，融合收银台更为常见和便捷，因为它覆盖了市面上的大部分支付方式，不会限制用户使用某种特定的支付方式，为用户提供了更多的支付选择，也大大提升了用户支付的成功率和效率。"},
               :properties {:color "yellow"}}],
 :extra {:page 45}}
